:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main-container {
  width: 1120px;
  height: 1284px;
  margin: auto;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 100px 0 82px 0;
}
.block__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 16px;
  line-height: 130%;
}
.title {
  font-weight: 600;
}
.item__title-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
.item-subtitle {
  font-size: 16px;
}

hr {
  background-color: #D9D9DE;
}

/* Grid */
.container {
  display: grid;
  grid-template-columns: repeat(4, 256px);
  grid-template-rows: repeat(4, 256px);
  gap: 32px;
}
.first {
  background: url(../img/cover_1.png);
  background-size: cover;
}
.second {
  background: url(../img/cover_2.png);
  background-size: cover;
}
.third {
  grid-row: span 2;
  grid-column: span 2;
  background: url(../img/cover_3.png);
  background-size: cover;
}
.fourth {
  background: url(../img/cover_4.png);
  background-size: cover;
}
.fifth {
  background: url(../img/cover_5.png);
  background-size: cover;
}
.sixth {
  grid-row: span 2;
  grid-column: span 2;
  background: url(../img/cover_6.png);
  background-size: cover;
}
.seventh {
  background: url(../img/cover_7.png);
  background-size: cover;
}
.eighth {
  background: url(../img/cover_8.png);
  background-size: cover;
}
.ninth {
  background: url(../img/cover_9.png);
  background-size: cover;
}
.tenth {
  background: url(../img/cover_10.png);
  background-size: cover;
}
